```{=html}
<div class="container-md featured-article">
  <% for (const item of items) { %>
    <div class="row">
      <div class="col-md-6">
        <% if (Array.isArray(item.images)) { %>
          <% item.images.forEach(function(img) { %>
            <img src="<%= img %>" class="img-fluid mb-2" alt="<%= item.title %>">
          <% }); %>
        <% } else { %>
          <img src="<%= item.image %>" class="img-fluid" alt="<%= item.title %>">
        <% } %>
      </div>
      <div class="col-md-6">
        <h2><%= item.title %></h2>
        <p><%= item.description %></p>
        <a href="<%= item.href %>" class="btn btn-featured">Lesa meira</a>
      </div>
    </div>
  <% } %>
</div>
```